.container-p1 {
    display: flex;
    background-image: url(./img/bg.png); 
    min-height: 1037px;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(72, 72, 72, 0.00) 38.57%, rgba(158, 158, 158, 0.00) 95.78%, #FFF 105.42%);
    height: inherit;
}

.container-p2 {
    min-height: 1037px;
}

.topbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-top: 1%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.travel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 102.5%; /* 36.9px */
    margin-left: 10%;
}

.travel:hover, .link-navbar:hover{
    position:relative;
	bottom:5px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20%;
    width: 20%;
    height: 100%;
    font-weight: 300;
}

.right-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    margin-right: 0%;
    margin-left: 25%;
}

.link-navbar{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: dashed;
}

.container-mid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.text-box-main{
    margin: 0% 30% 0% 30%;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 75px;
}

.text-box-low{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1% 35% 2% 35%;
}

.btn1{  
    margin-top: 5%; 
    border-radius: 10px;
    background: #00A651;

    border:1px solid #00A651;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
    font-weight: 900;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.btn1:hover {
	background-color:#5cbf2a;
}
.btn1:active {
	position:relative;
	top:1px;
}